.transections_container {
    -fx-background-color: #EEEEEE;

}

.transections_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";

}

.transections_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
}

transections_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}